.todo {
  padding: 15px;
  margin: 30px;
  background-color: black;
  border-radius: 15px;
  color: white;
}
.buts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 10px;
}
.buts button {
  padding: 10px;
  border-radius: 15px;
  font-size: 15px;
  cursor: pointer;
  width: 100%;
  border: none;
  background: white;
  color: black;
}

.buts button:hover {
  background-color: gray;
}

.buts .delBut:hover {
  background-color: red;
  color: white;
}
